@import "mixins";
@import "grid";

// em calculation
$em-base: 16px;

@function strip-unit($num) {
  @return $num / ($num * 0 + 1);
}

@function convert-to-em($value, $base-value: $em-base)  {
  $value: strip-unit($value) / strip-unit($base-value) * 1em;
  @if ($value == 0em) { $value: 0; } // Turn 0em into 0
  @return $value;
}

@function em-calc($values, $base-value: $em-base) {
  $max: length($values);

  @if $max == 1 { @return convert-to-em(nth($values, 1), $base-value); }

  $emValues: ();
  @for $i from 1 through $max {
    $emValues: append($emValues, convert-to-em(nth($values, $i), $base-value));
  }
  @return $emValues;
}

// grid variables
$row-width: em-calc(1000);
$total-columns: 12;
$column-gutter: em-calc(20);

// media queries
$xlarge-bound: 1170;
$large-bound: 980;
$medium-bound: 768;
$small-bound: 480;
$xsmall-bound: 320;

$x-small-only: "only screen and (max-width: #{em-calc($xsmall-bound)})";
$small-only: "only screen and (max-width: #{em-calc($small-bound)})";

$medium-only: "only screen and (min-width: #{em-calc($small-bound + 1)}) and (max-width: #{em-calc($medium-bound)})";
$medium-up: "only screen and (min-width: #{em-calc($small-bound + 1)})";
$medium-down: "only screen and (max-width: #{em-calc($medium-bound)})";

$large-only: "only screen and (min-width: #{em-calc($medium-bound + 1)}) and (max-width: #{em-calc($large-bound)})";
$large-up: "only screen and (min-width: #{em-calc($medium-bound + 1)})";
$large-down: "only screen and (max-width: #{em-calc($large-bound)})";

$xlarge-only: "only screen and (min-width: #{em-calc($xlarge-bound)})";

//colors
$dark: #272727;
$orange: #C65000;
$dark-orange: #AD4904;
$blue: #A3D5D8;
$dark-blue: #9BCECC;
$dark-grey: #3f3e3e;
$grey: #857B74;
$light-grey: #e3e3d9;

// fonts
$heading-font: 'Oswald', sans-serif;
$body-font: 'Open Sans', sans-serif;
$icon-font: 'icomoon';

// icons
$icon-facebook: "\e602";
$icon-twitter: "\e603";
$icon-email: "\e600";
$icon-reddit: "\e604";
$icon-gplus: "\e601";
