@import "base";

@font-face {
  font-family: 'icomoon';
  src:url('fonts/icomoon.eot?am8r37');
  src:url('fonts/icomoon.eot?#iefixam8r37') format('embedded-opentype'),
    url('fonts/icomoon.woff?am8r37') format('woff'),
    url('fonts/icomoon.ttf?am8r37') format('truetype'),
    url('fonts/icomoon.svg?am8r37#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body {
  font-size: 16px;
  font-family: $body-font;
}

h1, h2, h3, h4 {
  font-family: $heading-font;
  font-weight: normal;
}

h1 {
  font-size: 40px;
  text-transform: uppercase;
  margin: 0 0 em-calc(20, 40);
}
h2 {
  font-size: 36px;
  margin: 0 0 em-calc(20, 36);
}
h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin: 0 0 em-calc(10, 20);
}

.icon {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.page-content {
  p, ul, ol {
    font-size: 18px;
    margin: 0 0 em-calc(20, 18);
  }
  img { margin: 0 0 em-calc(20); }
  a {
    color: $orange;
    font-weight: bold;
    text-decoration: none;
    &:hover { color: $dark-orange; }
  }
  .subtitle {
    display: block;
    font-family: $heading-font;
    color: $grey;
    font-size: 20px;
    margin: -1em 0 1em;
  }
}

a, a:before, a:after {
  @include transition(color 0.25s ease, background 0.25s ease);
}

img {
  max-width: 100%;
  &.left {
    float: left;
    margin: 0 em-calc(14) em-calc(14) 0;
  }
  &.right {
    float: right;
    margin: 0 0 em-calc(14) em-calc(14);
  }
  &.center {
    display: block;
    margin: 0 auto em-calc(14);
  }
}

.menu {
  list-style-type: none;
  padding: 0;
}

form {
  label {
    display: none;
  }
  input[type=text] {
    padding: em-calc(8) em-calc(10, 18);
    background-color: #fff;
    color: $dark;
    font-size: 18px;
    line-height: 1.4;
    outline: none;
    border: 1px solid transparent;
    -webkit-appearance: none;
    @include border-radius(5px);
    &:focus {
      outline: none;
      border: 1px solid $orange;
      @include box-shadow(0 0 5px 0 $orange);
    }
    @include placeholder($grey);
  }
  .submit {
    padding: em-calc(8) em-calc(10, 18);
    font-size: 18px;
    line-height: 1.4;
    font-weight: bold;
    border: none;
    background-color: $orange;
    color: #fff;
    -webkit-appearance: none;
    @include border-radius(5px);
    @include transition(color 0.25s ease, background 0.25s ease);
    &:hover, &:focus {
      background-color: $dark-orange;
    }
  }
}
