<header role="banner" class="page-header">
  <div class="content-row">
    <a href="/" class="logo">ATX Votes</a>
    <nav role="navigation" class="main-nav">
      <ul class="menu">
        <li><a href="/">Address</a></li>
        <li>{{#link-to "map"}}Map{{/link-to}}</li>
        <li>{{#link-to "elections"}}All{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</header>

{{outlet}}
