<div class="homepage row">
  Welcome to Cognizant City/ATX votes!
  <p>{{#link-to "candidates" class="button"}}Candidates{{/link-to}}</p>
  <p>{{#link-to "elections" class="button"}}Elections{{/link-to}}</p>
</div>
