<div class="homepage content-row">

  <div class="fade-in page-content">
    <div class="container-rounding"><a href="/" class="logo">ATX Votes homepage</a></div>
    <p class="instruction-text">Instructional text for the address bar lorem ipsum dolor sit amet.</p>
    <form name="address-form">
      <label for="address">Address</label>
      {{input name="address" id="address" placeholder="street address"}}
      <button {{action "findDistrict"}} type="submit" class="submit">Go</button>
    </form>
    <span class="or">or</span>
    <p class="entry-options">
      {{#link-to "map"}}District Map{{/link-to}}
      {{#link-to "elections"}}All Candidates{{/link-to}}
    </p>
    <!--<p>{{#link-to "candidates" class="button"}}Candidates{{/link-to}}</p>
    <p>{{#link-to "elections" class="button"}}Elections{{/link-to}}</p>-->
  </div>
</div>
