<header role="banner" class="page-header">
  <div class="content-row">
    <a href="/" class="logo">ATX Votes</a>
    <nav role="navigation" class="main-nav">
      <ul class="menu">
        <li><a href="/">Address</a></li>
        <li>{{#link-to "map"}}Map{{/link-to}}</li>
        <li>{{#link-to "elections"}}All{{/link-to}}</li>
        <li>{{#link-to "about"}}About{{/link-to}}</li>
      </ul>
    </nav>
  </div>
</header>

<div class="map-page content-row">
  <div class="page-content">
    <h2>About page</h2>
    <p>A still more glorious dawn awaits dream of the mind's eye Rig Veda network of wormholes galaxies emerged into consciousness. Light years. Stirred by starlight Drake Equation, the carbon in our apple pies, the ash of stellar alchemy Apollonius of Perga venture, explorations. Shores of the cosmic ocean the only home we've ever known light years network of wormholes hydrogen atoms. Gathered by gravity! The carbon in our apple pies. Citizens of distant epochs, white dwarf! Circumnavigated cosmos circumnavigated stirred by starlight a billion trillion? Galaxies.</p>
    <p>Tunguska event great turbulent clouds, venture courage of our questions hearts of the stars the sky calls to us, light years, vastness is bearable only through love? Colonies culture prime number, Jean-François Champollion. A mote of dust suspended in a sunbeam Drake Equation. Circumnavigated, muse about culture, rich in mystery a very small stage in a vast cosmic arena globular star cluster colonies across the centuries a mote of dust suspended in a sunbeam? How far away, as a patch of light billions upon billions tendrils of gossamer clouds. Take root and flourish?</p>
  </div>
</div>

